/**{
    margin: 0;
    padding: 0;
}*/

body{
    background-color:whitesmoke;
    /*font-family: sans-serif;
    background-image: url("https://images.pexels.com/photos/17407709/pexels-photo-17407709/free-photo-of-cielo-nubes-bosque-arboles.jpeg?auto=compress&cs=tinysrgb&w=600");*/
    background-image: https://images.pexels.com/photos/2088142/pexels-photo-2088142.jpeg?auto=compress&cs=tinysrgb&w=600;
    /*background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: inline-block;*/
}

h1{
    color: rgb(174, 70, 70);
    font-weight: normal;
    text-decoration: overline underline;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.parrafosym{
    font-weight:normal;
    /*font-family: serif;*/
    line-height: 25px;
    font-size: 15px;
    /*display:inline;*/
}

.parrafosymcomentario{
    font-style: italic;
    line-height: 25px;
    font-size: 15px;
    display:inline;
}
.parrafosymfirma{
    line-height: 25px;
    font-size: 15px;
    display:inline;
}

h2{
    color: rgb(64, 105, 64);
    font-size: 22px;
}

h3{
    font-size: 18px;
}

a{
    text-decoration: none;
}

ol{
    list-style-type: decimal;
    font-weight: bolder;
    font-size: 18px;
}

.ollistafactores{
    font-size: 17px;
    font-weight: normal;
}

.ullistafactores{
    font-size: 15px;
    font-weight: normal;
    list-style-type: square;
}

label{
    display: block;
}

imput{
    display: block;
}

form{
    text-align:center;
}

/*div{
    background-color: brown;
    width: 1000px;
    height: 500px;
}*/

img{
    width: 50%;
}